*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 100vh;
    background-color: #fcfbf4;
    background-size: cover;
    background-position: center; 
}
.slide {
    display: none;
}
.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}
.nav-links{
    flex:1;
    text-align: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 30px 80px;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    color: #ODOD55;
    text-transform: none;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-links ul li::after{
    
    content: '';
    height: 2px;
    width: 0%;
    background: #D9F103;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.main-content{
    background-color: #ffa836;
    padding: 20px;
}

.slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slideshow img{
    max-width: 100%;
    max-height: 100%;
    transition: opacity 0.3s ease;
}

.slideshow img:hover{
    opacity: 0.5;
}

#prevButton, #nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    z-index: 1;
}

#prevButton {
    left: 300px;
}

#nextButton {
    right: 300px;
}

.slides {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: auto;
    overflow: hidden;
    margin: 0 auto; /* Center the slideshow */
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
}

input[type="radio"] {
    display: none;
}




#slide1:checked ~ .slides #slide1,
#slide2:checked ~ .slides #slide2,
#slide3:checked ~ .slides #slide3,
#slide4:checked ~ .slides #slide4
{
    display: block;
}

.wilderness {
    margin-top: 60px; 
}

.wilderness h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.wilderness p {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
@media screen and (max-width: 768px) {
    .nav-links ul li {
        padding: 20px 30px;
    }
}


@media screen and (max-width: 480px) {
    .nav-links ul li {
        padding: 15px 20px;
    }
}